@charset UTF-8;

:root {
    --main-color: #cccccc;
    --sub-color: #9999ff;
}

body {
   background-color: white;
}
.top_title {
    font-size: 8vh;
    /* padding-top: 50px; */
    color: var(--sub-color);
    font-family:'Times New Roman', Times, serif;
}
.center {
    background-color: var(--main-color);
    position: relative;
    top: 20vh;
}
.login {
    width: 20vw;
    position: relative;
    left: 20vw;
}
.register {
    width: 20vw;
    position: relative;
    left: 40vw;
}
.button_follow {
    font-size: 2vw;
}
p.top_comment {
    padding-top: 150px;
    text-align: center;
    font-size: 28px;
    font-family: monospace;
}

