@charset UTF-8;

.is-circle {
    width:  50px;       /* ※縦横を同値に */
    height: 50px;       /* ※縦横を同値に */
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    background-position: left top;  /* 横長画像の左上を基準に表示 */
    display: inline-block;
    border: solid 3px black;       
}

.friends {
    display: flex;
    margin: 20px;
}

.friends img {
    margin-right: 10px;
}

/* .search-method {
    display: flex;
    justify-content: space-between;
} */

.game_list {
    display: flex;
    justify-content: space-around;
}

.search_icon {
    width:  50px;       /* ※縦横を同値に */
    height: 50px;       /* ※縦横を同値に */
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    background-position: left top;  /* 横長画像の左上を基準に表示 */
    display: inline-block;
    border: solid 3px black; 
}

.result {
     width: 400px;
     margin: auto;
     display: flex;
     justify-content: space-around;
}

.left_info p {
    margin: 10px;
    font-size: 10px;
}

.right_info {
    display: flex;
    flex-direction: column;
}