@charset UTF-8;

:root {
    --main-color: #cccccc;
    --sub-color: #9999ff;
}

* {
    box-sizing: border-box;
 }
 
 body {
    margin: 0;
    margin-top: 100px;
    padding: 0;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #e6e6e6;
 }

.is-circle {
    width:  50px;       /* ※縦横を同値に */
    height: 50px;       /* ※縦横を同値に */
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    background-position: left top;  /* 横長画像の左上を基準に表示 */
    display: inline-block;
    border: solid 3px black;       
}

/* .search-method {
    display: flex;
    justify-content: space-between;
} */

.game_list {
    display: flex;
    justify-content: space-around;
}

.search_icon {
    width:  50px;       /* ※縦横を同値に */
    height: 50px;       /* ※縦横を同値に */
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    background-position: left top;  /* 横長画像の左上を基準に表示 */
    display: inline-block;
    border: solid 3px black; 
}

.result {
     width: 400px;
     margin: auto;
     display: flex;
     justify-content: space-around;
}

.left_info p {
    margin: 10px;
    font-size: 10px;
}

.right_info {
    display: flex;
    flex-direction: column;
}

.is-circle {
    width:  30px;       /* ※縦横を同値に */
    height: 30px;       /* ※縦横を同値に */
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    background-position: left top;  /* 横長画像の左上を基準に表示 */
    display: inline-block;
    border: solid 3px black;
}

body {
  font-family: serif;
  font-size: 16px;
  line-height: 1.6;
  /color: #fff;/
}

.button {
  background: lightblue;
  color: #fff;
  padding: 0 2em;
  border: 0;
  width: 200px;
  height: 50px;
  font-size: 8px;
  border-radius: 5px;
  font-weight: 900;
  position: relative;
  left: 10px;
  top: 10px;
  font-family: serif;
}

.button:hover {
  background: lightcoral;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #f4f4f4;
  margin: 5% auto;
  width: 50%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
  animation-name: modalopen;
  animation-duration: 1s;
}

@keyframes modalopen {
  from {opacity: 0}
  to {opacity: 1}
}

.modal-header h1 {
  margin: 1rem 0;
}

.modal-header {
  background: lightblue;
  padding: 3px 15px;
  display: flex;
  justify-content: space-between;
}

.modalClose {
  font-size: 2rem;
}

.modalClose:hover {
  cursor: pointer;
}

.modal-body {
  padding: 10px 20px;
  color: black;
  /text-align: center;
}

/*--------------------------------------------------------------------*/

.modal_ {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content_ {
  background-color: #f4f4f4;
  margin: 5% auto;
  width: 50%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
  animation-name: modalopen_;
  animation-duration: 1s;
}

@keyframes modalopen_ {
  from {opacity: 0}
  to {opacity: 1}
}

.modal-header_ h1 {
  margin: 1rem 0;
}

.modal-header_ {
  background: lightblue;
  padding: 3px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalClose_ {
  font-size: 2rem;
}

.modalClose_:hover {
  cursor: pointer;
}

.modal-body_ {
  padding: 10px 20px;
  color: black;
  /text-align: center;
}

/*------------------------------*/

header {
    width: 100%;
    padding: 30px 4% 10px;
    background-color: #fff;
}

header {
    width: 100%;
    padding: 30px 4% 10px;
    background-color: #fff;
    position: fixed;
    top: 0;
 }

 header {
    padding: 30px 4% 10px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
 }

 h1 {
    margin: 0 auto;
    margin: 0; padding: 0;
    font-size: 30px;
    color: var(--sub-color);
 }

 a {	
    text-decoration: none;
    color: #4b4b4b;
 }

 ul {
    list-style: none;
    margin: 0;
 }

 ul {
    list-style: none;
    margin: 0;
    display: flex;
 }

 li {
    margin: 0 0 0 15px;
    font-size: 14px;
 }

 nav {
    margin: 0 0 0 auto;
 }

 .header-nav {
     height: 30px;
     width: auto;
 }

 .body-flex {
     display: flex;
     margin: 0 auto;
     text-align: center;
     width: 100%;
     max-width: 980px;
 }
 /* .friend_list {
     width: 35%;
 } */
 .search {
     width: 65%;
 }

.group_link_content {
    display: flex;
    flex-direction: column;
}
 .friend_img {
    width:  40px;       /* ※縦横を同値に */
    height: 40px;       /* ※縦横を同値に */
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    background-position: left top;  /* 横長画像の左上を基準に表示 */
    display: inline-block;
    border: solid 3px black;
 }

.groups {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
    align-items: center;
}
.friends {
     display: flex;
     justify-content: space-between;
     margin: 10px 20px;
     align-items: center;
 }

 
.myprof {
     border: solid 0;
 }

.group_and_friend {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 35%;
    margin-left: -90px;
}

#group-box {
    width: 100%;
    height: 90%;
    overflow-x: hidden;
    overflow-y: scroll;
    background: var(--main-color);
    margin: 10px 0;
}

#friend-box {
    width: 100%;
    height: 90%;
    overflow-x: hidden;
    overflow-y: scroll;
    background: var(--main-color);
}

#modalOpen {
    width: 100px;
    height: auto;
}

#search_result {
    width: 750px;
    height: 400px;
    overflow: scroll;
    background: var(--main-color);
    margin: 10px;
}

/*----------------------------
pop up
--------------------------*/
.invite label {
    display: flex;
    align-items: center;
    justify-content: start;
}
.group_make {
    display: flex;
    flex-direction: column;
}

.group_make input {
    width: 100px;
}

.scroll-invite {
    width: 550px;
    height: 200px;
    overflow: scroll;
    background: #fff;
    margin: 10px;
}

.modal-body_ {
    width: 550px;
    height: 200px;
    overflow: scroll;
    background: #fff;
    margin: 10px;
}

.scroll-invite p {
    margin-left: 10px;
}

/* .information label {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
} */
.label_information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
 /*-----------------------------
 検索結果のCSS
 -------------------------------*/
.result {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: azure;
    margin: 10px auto;
    border-radius: 20px;
}

.right_info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit_prof {
    margin: 10px;
}
.game_list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left_info {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.left_info ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-method {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#nickname_search {
    height: 25px;
}
#game_name {
    height: 25px;
}
#game_level {
    height: 25px;
}
#async-search {
    height: 25px;
}



