{% extends "layout.html" %}

{% block css %}
<link rel ="stylesheet" href ="../static/profile.css">
{% endblock %}

{% block js %}
<script src ="../static/main.js"></script>
{% endblock %}


{% block title %}
Home
{% endblock %}

{% block main %}
<form action ="/admin" method ="POST">
    <div class="flex">
        <div class ="edit_right">
            <div class="box1">
                <p>User ID</p>
                <input id ="userid" type ="text" name ="userid">
                <div class="nickname_edit">
                    <p>ニックネーム</p>
                    <div class ="flex">
                        <input id ="nickname" type ="text" name ="nickname">
                    </div>
                </div>
            <input type="submit" value ="保存">
        </div>
    </div>
    <p>{{ show_users }}</p>
</form>
{% endblock %}