<!DOCTYPE html>
<html labg="en">

<head>
    <meta chrset="utf-8" />
    <title>通知ボタン</title>
    <link rel="stylesheet" href="../static/trial.css" />
</head>

<body>
<div class="modal__">
    <button id="modalOpen" class="button">通知</button>

　　<div id="easyModal" class="modal">

　　　　<div class="modal-content">

<!--    ----------------------------------->
　　　　　　<div class="modal-header">
　　　　　　　　<h1>通知</h1>
　　　　　　　　<span class="modalClose">×</span>
　　　　　　</div>
<!--    ----------------------------------->

　　　　　　<div class="modal-body">
             <div class="follows">
　　　　　　　　<form action='/b' method='POST'>
                  {% for i in followed_info %}
                    <label>
                    <img src ="{{ i[0][0] }}" class ="is-circle">
                    {{ i[0][1] }}
                    <input type="hidden" name="follow" value="{{i[0][2]}}">
                    <button type="submit">フォローする</button>
                    </label>
                    <p></p>
                  {% endfor %}
              </form>
             </div>

         <div class="groups">
             <form action='/b' method='POST'>
             {% for i in group_list %}
             <label>
                 <img src ="{{ i[0][1] }}" class ="is-circle">
                 {{i[0][0]}}
             </label>
             <input type="hidden" name="join_group" value="{{i[0][2]}}">
             <button type="submit">グループ参加</button>
             <p></p>
             {% endfor %}
             </form>
         </div>

    　　　　</div>
　　　　　　</div>
　　　　</div>
　　</div>
　　<script src="../static/trial.js"></script>
</div>

<p>{{followed_info}}</p>
<p>{{group}}</p>
<p>{{list_i}}</p>
<p>{{group_list}}</p>
</body>
</html>