<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/group_edit.css" />
</head>
<body>


<div class="editedit">
    <form action ="/group_edit" method ="POST" enctype="multipart/form-data">
        <img src ="{{ group[0][1] }}" class ="is-circle_m">
        <input type ="file" name ="up_file" accept="image/*" onchange="setImage(this)">
        <div>
            <input type ="text" name ="group_name" value="{{ group[0][0] }}">
        </div>
        <input type="submit" value ="保存">
    </form>
</div>


<div class="modal__">
    <button id="modalOpen" class="button">メンバー詳細</button>

　　<div id="easyModal" class="modal">

　　　　<div class="modal-content">

<!--    ----------------------------------->
　　　　　　<div class="modal-header">
　　　　　　　　<h1>メンバー</h1>
　　　　　　　　<span class="modalClose">×</span>
　　　　　　</div>
<!--    ----------------------------------->

　　　　　　<div class="modal-body">
　　　　　　　　<form action='/group_edit' method='POST'>

                <p>あなた</p>
                <img src ="{{ current[0][0] }}" class ="is-circle">
                {{current[0][1]}}
                <p></p>

                <p>グループ参加者</p>
                  {% for i in group_joined %}
                    <label>
                    <img src ="{{ i[0][0] }}" class ="is-circle">
                    {{ i[0][1] }}
                    <input type="hidden" name="kick" value="{{i[0][2]}}">
                    <button type="submit">キックする</button>
                    </label>
                    <p></p>
                  {% endfor %}

                <p>招待可能</p>
                  {% for i in not_invited_ %}
                    <label>
                    <img src ="{{ i[0][0] }}" class ="is-circle">
                    {{ i[0][1] }}
                    <input type="hidden" name="invite" value="{{i[0][2]}}">
                    <button type="submit">招待する</button>
                    </label>
                    <p></p>
                  {% endfor %}

                <p>招待済み</p>
                  {% for i in  already_invited %}
                    <label>
                    <img src ="{{ i[0][0] }}" class ="is-circle">
                    {{ i[0][1] }}
                    </label>
                    <p></p>
                  {% endfor %}

              </form>
    　　　　</div>
　　　　　　</div>

　　　　</div>
　　</div>
　　<script src="../static/group_edit.js"></script>
</div>

</body>
</html>