{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="../static/group_edit.css" />
{% endblock %}

{% block title %}
Group Edit
{% endblock %}

{% block main %}  
<div class="nav">
  <p><a href ="top" class=back><i class="fas fa-arrow-circle-left"></i>戻る</a></p>
</div>

<div class="editedit">
    <form action ="/group_edit" method ="POST" enctype="multipart/form-data">
        <div class="group_edit_flex">
          <div class="group_edit_left">
            <img id="icon" src ="{{ group[0][1] }}" class ="is-circle_m">
            <input type="submit" value ="保存">
          </div>
          
          
          <div class="group_edit_right">

            <div class="edit_group_content">
              <p>グループネームを編集する</p>
              <input class="edit_name" type ="text" name ="group_name" value="{{ group[0][0] }}">
            </div>
            <div class="edit_group_content">
              <p>アイコンを編集する</p>
              <input type ="file" name ="up_file" accept="image/*" onchange="setImage(this)">
            </div>
            
            <button id="modalOpen" type="button" class="button">メンバー詳細</button>
          </div>
        </div>
  
    </form>
</div>


<div class="modal__">

  <div id="easyModal" class="modal">
    
    <div class="modal-content">

<!------------------------------------->
      <div class="modal-header">
        <h1>メンバー</h1>
        <span class="modalClose">×</span>
      </div>
<!------------------------------------->
      <div class="modal-body">

        <p>あなた</p>
        <img src ="{{ current[0][0] }}" class ="is-circle">
        {{current[0][1]}}
        <p></p>

        <div class="group_info">

          <div class="group_info_content">

            <p>グループ参加者</p>

            <div class="group_info_box">

              {% for i in group_joined %}

              <form action='/group_edit' method='POST'>
                <div class="group_info_box_content">
                  <img src ="{{ i[0][0] }}" class ="is-circle">
                  {{ i[0][1] }}
                  <input type="hidden" name="kick" value="{{i[0][2]}}">
                  <button type="submit">キックする</button>
                </div>
                <p></p>
              </form>
              
              {% endfor %}

            </div>
                  
          </div>
                
          <div class="group_info_content">

            <p>招待可能</p>

            <div class="group_info_box">
              {% for i in not_invited_ %}

              <form action='/group_edit' method='POST'>
                <div class="group_info_box_content">
                  <img src ="{{ i[0][0] }}" class ="is-circle">
                  {{ i[0][1] }}
                  <input type="hidden" name="invite" value="{{i[0][2]}}">
                  <button type="submit">招待する</button>
                </div>
                <p></p>
              </form>
  
              {% endfor %}
            </div>

          </div>
              
          <div class="group_info_content">

            <p>招待済み</p>

            <div class="group_info_box">
              {% for i in  already_invited %}
              <div class="group_info_box_content_invited">
                <img src ="{{ i[0][0] }}" class ="is-circle">
                {{ i[0][1] }}
              </div>
              <p></p>
              {% endfor %}
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="../static/group_edit.js"></script>
{% endblock %}