{% extends "layout.html" %}

{% block css %}
<link rel ="stylesheet" href ="../static/index.css">
{% endblock %}

{% block title %}
Home
{% endblock %}

{% block main %}
<div class="center">
    <h1 class="top_title"> ~ Welcome to "Matching in the game" ~ </h1>
    <div class="flex" style="display:inline-flex">
        <form action="/login" method="GET"><input class="login button_follow" type="submit" value="login"></form>
        <form action="/register2" method="GET"><input class="register button_follow" type="submit" value="register"></form>
    </div>
</div>

{% endblock %}
