{% extends "layout.html" %}

{% block title %}
Profile
{% endblock %}


{% block main %}

{% if session.profile_id == session.user_id %}

<div class ="nav">

    <p><a href ="top">戻る</a></p>
    <p><a href ="edit">編集する</a></p>
    
</div>
<form action ="/profile" method ="POST">
    <div id="profile_contents" class ="flex">
        <img src ="{{ user_profile[5] }}" class ="is-circle">
        <div id="profile_right">
            <table>
                <thead>
                    <tr>
                        <td>ゲーム</td>
                        <td>スキル</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>アイコン</td>
                        <td>{{ game_name1 }}</td>
                        <td>
                        {% for i in range(star1) %}
                            ★
                        {% endfor %}     
                        {% for i in range(3 - star1) %}
                            ☆
                        {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>アイコン</td>
                        <td>{{ game_name2 }}</td>
                        <td>
                        {% for i in range(star2) %}
                            ★
                        {% endfor %}     
                        {% for i in range(3 - star2) %}
                            ☆
                        {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>アイコン</td>
                        <td>{{ game_name3 }}</td>
                        <td>
                        {% for i in range(star3) %}
                            ★
                        {% endfor %}     
                        {% for i in range(3 - star3) %}
                            ☆
                        {% endfor %}         
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class ="flex">

                <!-- ここからみーやが書いたところ -->
                <div class="modal__follow">
                    <button id="modalOpen_follow" class="button_follow" type="button">フォロー({{follow_count}})</button>
                
                    <div id="easyModal_follow" class="modal_follow">
                
                        <div class="modal-content_follow">
                
　　　　　　                 <div class="modal-header_follow">
            　　　　　　　　    <h1>フォロー</h1>
            　　　　　　　　    <button type="button" id="modalClose_follow" class="modalClose_follow">×</button>
            　　　　　　     </div>
    
                            <div class="modal-body_follow">

                                {% for i in modal_follow_list %}      
                                
                                
                                <form action="/top" method="POST">
                            
                                    <div class="follow_info">
                                    <img class="follow_info_img" src="{{ i[0][2] }}">

                                    <p>{{ i[0][1] }}</p>
                                    </div>
                            
                                    <input type ="hidden" name ="friend_id" value="{{ i[0][0] }}">
                                    <input type="submit" name="profile" value="プロフを表示する">
                            
                                </form>

                                {% endfor %}

                    　　　   </div>
                
                    </div>
                </div>
                <!-- ----------------------------------------- -->
                <!-- フォロワーの表示　-->
                <div class="modal__followed">
                    <button id="modalOpen_followed" class="button_follow" type="button">フォロワー({{followed_count}})</button>
                
                　　<div id="easyModal_followed" class="modal_followed">
                
            　　        <div class="modal-content_follow">
                
            　　　　　　    <div class="modal-header_follow">
                　　　　　　　　<h1>フォロワー</h1>
                　　　　　　　　<button type="button" id="modalClose_followed" class="modalClose_followed">×</button>
                　　　　　　</div>

                　　　　　　<div class="modal-body_follow">

                                {% for i in modal_followed_list %}
                            
                           
                                <form action="/top" method="POST">
                        
                                    <div class="follow_info">
                                    <img class="follow_info_img" src="{{ i[0][2] }}">

                                    <p>{{ i[0][1] }}</p>
                                    </div>
                            
                                    <input type ="hidden" name ="friend_id" value="{{  i[0][0] }}">
                                    <input type="submit" name="profile" value="プロフを表示する">
                            
                                </form>
                
                
                                {% endfor %}   

                    　　　   </div>
                
                　　　　</div>
                　　</div>
            </div>
            <script src="../static/trial.js"></script>
        </div>
    </div>
    <div class ="flex">
        <div>
            <p>ニックネーム</p>
            <input readonly type ="text" name ="nickname" value="{{ user_profile[1] }}">
        </div>
        <p>コメント</p>
        <textarea readonly name ="comment" rows ="5">{{ user_profile[4] }}</textarea>
    </div>
</form>

{% else %}
<div class ="nav">
    <p><a href ="top">戻る</a></p>
</div>
<form action ="/profile" method ="POST">
    <div class ="flex">
        <img src ="{{ user_profile[5] }}" class ="is-circle">
        <div>
            <table>
                <thead>
                    <tr>
                        <td>ゲーム</td>
                        <td>スキル</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>アイコン</td>
                        <td>{{ game_name1 }}</td>
                        <td>
                        {% for i in range(star1) %}
                            ★
                        {% endfor %}     
                        {% for i in range(3 - star1) %}
                            ☆
                        {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>アイコン</td>
                        <td>{{ game_name2 }}</td>
                        <td>
                        {% for i in range(star2) %}
                            ★
                        {% endfor %}     
                        {% for i in range(3 - star2) %}
                            ☆
                        {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>アイコン</td>
                        <td>{{ game_name3 }}</td>
                        <td>
                        {% for i in range(star3) %}
                            ★
                        {% endfor %}     
                        {% for i in range(3 - star3) %}
                            ☆
                        {% endfor %}         
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class ="flex">

                <div class="modal__follow">
                    <button id="modalOpen_follow" class="button_follow" type="button">フォロー({{follow_count}})</button>
                
                    <div id="easyModal_follow" class="modal_follow">
                
                        <div class="modal-content_follow">
                
　　　　　　                 <div class="modal-header_follow">
            　　　　　　　　    <h1>フォロー</h1>
            　　　　　　　　    <button type="button" id="modalClose_follow" class="modalClose_follow">×</button>
            　　　　　　     </div>
    
                            <div class="modal-body_follow">

                                {% for i in modal_follow_list %}
                            
                        
                                <form action="/top" method="POST">
                        
                                <div class="follow_info">
                                <img class="follow_info_img" src="{{ i[0][2] }}">

                                <p>{{ i[0][1] }}</p>
                                </div>
                        
                                <input type ="hidden" name ="friend_id" value="{{ i[0][0] }}">
                                <input type="submit" name="profile" value="プロフを表示する">
                            
                                </form>


                                {% endfor %}   

                    　　　   </div>
                
                    </div>
                </div>
                <!-- ----------------------------------------- -->
                <!-- フォロワーの表示　-->
                <div class="modal__followed">
                    <button id="modalOpen_followed" class="button_follow" type="button">フォロワー({{followed_count}})</button>
                
                　　<div id="easyModal_followed" class="modal_followed">
                
            　　        <div class="modal-content_follow">
                
            　　　　　　    <div class="modal-header_follow">
                　　　　　　　　<h1>フォロワー</h1>
                　　　　　　　　<button type="button" id="modalClose_followed" class="modalClose_followed">×</button>
                　　　　　　</div>

                　　　　　　<div class="modal-body_follow">

                                {% for i in modal_followed_list %}
                            
                           
                                <form action="/top" method="POST">
                        
                                <div class="follow_info">
                                <img class="follow_info_img" src="{{ i[0][2] }}">

                                <p>{{ i[0][1] }}</p>
                                </div>
                        
                                <input type ="hidden" name ="friend_id" value="{{ i[0][0] }}">
                                <input type="submit" name="profile" value="プロフを表示する">
                            
                                </form>
                
                
                                {% endfor %}   

                    　　　   </div>
                
                　　　　</div>
                　　</div>
            </div>
        </div>
    </div>
    <div class ="flex">
        <div>
            <p>ニックネーム</p>
            <input readonly type ="text" name ="nickname" value="{{ user_profile[1] }}">
            <div class ="flex">
                {% if isFollow2 == 0 %}
                    <input type="submit" name="follow" value="フォロー">
                {% else %}
                    <input type="submit" name="unfollow" value="フォローをやめる">
                {% endif %}
                <input readonly id ="talk_id" type ="hidden" name ="talk_id" value="{{ session['profile_id'] }}">
                <input type="submit" name="talk" value="トーク">
            </div>
        </div>
        <p>コメント</p>
        <textarea class="msg_text" readonly name ="comment" rows ="5"　cols="40">{{ user_profile[4] }}</textarea>
    </div>

</form>
{% endif %}
<p>user:{{session['user_id']}}</p>
<p>profile:{{session['profile_id']}}</p>
{% endblock %}
