{% extends "layout.html" %}

{% block css %}
<link rel ="stylesheet" href ="../static/profile.css">
{% endblock %}

{% block title %}
Profile
{% endblock %}


{% block main %}

{% if session.profile_id == session.user_id %}

<div class ="nav">

    <p><a href ="top" class="back"><i class="fas fa-arrow-circle-left"></i>戻る</a></p>
    <p><a href ="edit" class="back">編集する</a></p>
    
</div>

<form action ="/profile" method ="POST" id="profile_contents">
    <div class ="flex">
        <div class="profile_left">
            <img src ="{{ user_profile[5] }}" class ="user-icon">
        </div>
        
        <div id="profile_right">
            <div>
                <p><u>ニックネーム</u></p>
                <p class="nickname">{{ user_profile[1] }}</p>
            </div>
            <table>
                <thead>
                    <tr>
                        <td>ゲーム</td>
                        <td>スキル</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ game_name1 }}</td>
                        <td>
                        {% for i in range(star1) %}
                            ★
                        {% endfor %}     
                        {% for i in range(3 - star1) %}
                            ☆
                        {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ game_name2 }}</td>
                        <td>
                        {% for i in range(star2) %}
                            ★
                        {% endfor %}     
                        {% for i in range(3 - star2) %}
                            ☆
                        {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ game_name3 }}</td>
                        <td>
                        {% for i in range(star3) %}
                            ★
                        {% endfor %}     
                        {% for i in range(3 - star3) %}
                            ☆
                        {% endfor %}         
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="flex_btn">
                <button id="modalOpen_follow" class="button_follow" type="button">フォロー({{follow_count}})</button>
                <button id="modalOpen_followed" class="button_follow" type="button">フォロワー({{followed_count}})</button>
            </div>

                <!-- ここからみーやが書いたところ -->
                <div class="modal__follow">
                    <div id="easyModal_follow" class="modal_follow">
                
                        <div class="modal-content_follow">
                
　　　　　　                 <div class="modal-header_follow">
            　　　　　　　　    <h1>フォロー</h1>
            　　　　　　　　    <button type="button" id="modalClose_follow" class="modalClose_follow">×</button>
            　　　　　　     </div>
    
                            <div class="modal-body_follow">

                                <form></form>
                                {% for i in modal_follow_list %}      
                                
                                
                                <form action="/top" method="POST">
                            
                                    <div class="follow_info">
                                    <img class="follow_info_img" src="{{ i[0][2] }}">

                                    <p>{{ i[0][1] }}</p>
                    
                            
                                    <input type ="hidden" name ="friend_id" value="{{ i[0][0] }}">
                                    <input type="submit" name="profile" value="プロフを表示する">
                                    </div>
                                </form>

                                {% endfor %}

                    　　　   </div>
                
                    </div>
                </div>
                <!-- ----------------------------------------- -->
                <!-- フォロワーの表示　-->
                <div class="modal__followed">

                
                　　<div id="easyModal_followed" class="modal_followed">
                
            　　        <div class="modal-content_follow">
                
            　　　　　　    <div class="modal-header_follow">
                　　　　　　　　<h1>フォロワー</h1>
                　　　　　　　　<button type="button" id="modalClose_followed" class="modalClose_followed">×</button>
                　　　　　　</div>

                　　　　　　<div class="modal-body_follow">

                                {% for i in modal_followed_list %}
                            
                           
                                <form action="/top" method="POST">
                        
                                    <div class="follow_info">
                                    <img class="follow_info_img" src="{{ i[0][2] }}">

                                    <p>{{ i[0][1] }}</p>
                                    
                            
                                    <input type ="hidden" name ="friend_id" value="{{  i[0][0] }}">
                                    <input type="submit" name="profile" value="プロフを表示する">
                                    </div>
                                </form>
                
                
                                {% endfor %}   

                    　　　   </div>
                
                　　　　</div>
                　　</div>
            </div>
            <script src="../static/main.js"></script>    
        
        <p><u>コメント</u></p>
        <textarea class="msg-text" readonly name ="comment" rows ="5">{{ user_profile[4] }}</textarea>
    </div>
</form>

{% else %}
<div class ="nav">
    <p><a href ="top" class=back><i class="fas fa-arrow-circle-left"></i>戻る</a></p>
</div>
<form action ="/profile" method ="POST">
    <div class ="flex">
        <div class="profile_left">
            <img src ="{{ user_profile[5] }}" class ="user-icon">
            <div class ="follow_followed">
                {% if isFollow2 == 0 %}
                    <input type="submit" name="follow" value="フォロー">
                {% else %}
                    <input type="submit" name="unfollow" value="フォローをやめる">
                {% endif %}
                <input readonly id ="talk_id" type ="hidden" name ="talk_id" value="{{ session['profile_id'] }}">
                <input type="submit" name="talk" value="トーク">
            </div>
        </div>
        
        <div class="profile_right">
            <div>
                <p><u>ニックネーム</u></p>
                <p class="nickname">{{ user_profile[1] }}</p>
            </div>
            <table>
                <thead>
                    <tr>
                        <td>ゲーム</td>
                        <td>スキル</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ game_name1 }}</td>
                        <td>
                        {% for i in range(star1) %}
                            ★
                        {% endfor %}     
                        {% for i in range(3 - star1) %}
                            ☆
                        {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ game_name2 }}</td>
                        <td>
                        {% for i in range(star2) %}
                            ★
                        {% endfor %}     
                        {% for i in range(3 - star2) %}
                            ☆
                        {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ game_name3 }}</td>
                        <td>
                        {% for i in range(star3) %}
                            ★
                        {% endfor %}     
                        {% for i in range(3 - star3) %}
                            ☆
                        {% endfor %}         
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="flex_btn">
                <button id="modalOpen_follow" class="button_follow" type="button">フォロー({{follow_count}})</button>
                <button id="modalOpen_followed" class="button_follow" type="button">フォロワー({{followed_count}})</button>
            </div>
                <div class="modal__follow">
                    
                    <div id="easyModal_follow" class="modal_follow">
                        <div class="modal-content_follow">
　　　　　　                 <div class="modal-header_follow">
            　　　　　　　　    <h1>フォロー</h1>
            　　　　　　　　    <button type="button" id="modalClose_follow" class="modalClose_follow">×</button>
            　　　　　　     </div>
                            <div class="modal-body_follow">
                                <form></form>
                                {% for i in modal_follow_list %}
                                <form action="/top" method="POST">                        
                                <div class="follow_info">
                                <img class="follow_info_img" src="{{ i[0][2] }}">
                                <p>{{ i[0][1] }}</p>
                                                      
                                <input type ="hidden" name ="friend_id" value="{{ i[0][0] }}">
                                <input type="submit" name="profile" value="プロフを表示する">
                                </div>                       
                                </form>
                                {% endfor %}   
                    　　　   </div>               
                    </div>
                </div>
                <!-- ----------------------------------------- -->
                <!-- フォロワーの表示　-->
                <div class="modal__followed">
                                   
                　　<div id="easyModal_followed" class="modal_followed">               
            　　        <div class="modal-content_follow">              
            　　　　　　    <div class="modal-header_follow">
                　　　　　　　　<h1>フォロワー</h1>
                　　　　　　　　<button type="button" id="modalClose_followed" class="modalClose_followed">×</button>
                　　　　　　</div>
                　　　　　　<div class="modal-body_follow">
                                {% for i in modal_followed_list %}                         
                                <form action="/top" method="POST">                     
                                <div class="follow_info">
                                <img class="follow_info_img" src="{{ i[0][2] }}">
                                <p>{{ i[0][1] }}</p>
                                               
                                <input type ="hidden" name ="friend_id" value="{{ i[0][0] }}">
                                <input type="submit" name="profile" value="プロフを表示する">
                                </div>                       
                                </form>
                                {% endfor %}   
                    　　　   </div>
                
                　　　　</div>
                　　</div>
                </div>
            </div>        
            
            <p><u>コメント</u></p>
            <textarea class="msg-text" readonly name ="comment" rows ="5"　cols="40">{{ user_profile[4] }}</textarea>
        </div>
    </div>

</form>
{% endif %}
{% endblock %}
