<html>
<head>
    <link href="/static/styles.css" rel="stylesheet">
</head>
<body>
    <h1>登録画面</h1>
    <form action="/" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="nickname" placeholder="Nickname" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirm" placeholder="confirm password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="email" placeholder="Email" type="email">
        </div>
        <input type="submit">Register</input>
    </form>
    <a href="/">メイン画面に戻る</a>
</body>
</html>