<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href ="../static/top.css">
    <title>Docker Test{% block title %} {% endblock %}</title>
    <script src ="../static/main.js"></script>
</head> -->
<!-- <body> -->
    <!-- <form action='/search' method='POST'>
        <div class="search-method">
            <div class="search-game">
                <select name ="game_name">
                    <option disabled selected>ゲームを選択してください</option>
                    {% for i in game_names %}
                    <option>{{ i[0] }}</option>
                    {% endfor %}
                </select>
                <select name ="game_level">
                    <option disabled selected>ゲームレベルを選択してください</option>
                    {% for i in range(1,4) %}
                    <option>{{ i }}</option>
                    {% endfor %}
                </select>
                <p>or</p>
            </div>
                <input id ="nickname_search" type ="text" name ="nickname_search" placeholder="search nickname">
        </div>
        <input class="search_btn" type="submit" value="search">
    </form> -->
{% if id_search %}
{% for profile in id_search %}
<div class="result">
    <div class="right_info">
        <p class="nickname">{{ profile[1] }}</p>
        <img class="search_icon" src="{{ profile[2] }}">
        <form action="/top" method="POST">
            <input readonly id ="friend_id" type ="hidden" name ="friend_id" value="{{ profile[0] }}">
            <input type="submit" name="profile" value="プロフを表示する">           
        </form>
    </div>
    <div class="left_info">
        <ul>
            <li>
                <ul>
                    <li class="game_list">
                        <p>{{ profile[4] }}</p>
                        <p>{{ profile[6] }}</p>
                        <p>Lv {{ profile[5] }}</p>
                    </li>
                    <li class="game_list">
                        <p>{{ profile[7] }}</p>
                        <p>{{ profile[9] }}</p>
                        <p>Lv {{ profile[8] }}</p>
                    </li>
                    <li class="game_list"> 
                        <p>{{ profile[10] }}</p>
                        <p>{{ profile[12] }}</p>
                        <p>Lv {{ profile[11] }}</p>
                    </li>
                </ul>
            </li>
        </ul>
        <p class="short_comment" maxlength="5">{{ profile[3][0:11] }}...</p>
    </div>
</div>
<div>
{% endfor %}
{% else %}
    {% if n %}
    <p>{{ n }}</p>
    {% else %}
    <p>該当するユーザーはいませんでした</p>
    {% endif %}
{% endif %}
</div>