<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href ="../static/style.css">
    <title>Talk</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket;
        $(document).ready(function(){
            socket = io.connect('http://' + document.domain + ':' + location.port + '/talk');
            
            var chat = document.getElementById('chat');
            var text = document.getElementById('text');
            var form = document.getElementById('form');

            socket.on('connect', function() {
                socket.emit('join', {});
            });
            socket.on('status', function(data) {

                var item = document.createElement('li');
                console.log(JSON.stringify(data));

                for (let i = 0; i <= data.length; i++) {
                    var item = document.createElement('li');
                    item.textContent = data[i]['msg'];
                    chat.appendChild(item);
                }
                $('#chat').scrollTop($('#chat')[0].scrollHeight);
            });
            //socket.on('status', function(data) {
            //    $('#chat').val(data.msg);
            //    $('#chat').scrollTop($('#chat')[0].scrollHeight);
            //});
            //socket.on('message', function(data) {
            //    $('#chat').val($('#chat').val() + data.msg + '\n');
            //    $('#chat').scrollTop($('#chat')[0].scrollHeight);
            //});
            //$('#send').click(function(e) {
            //        text = $('#text').val();
            //        $('#text').val('');
            //        socket.emit('text', {msg: text});
            //});
            form.addEventListener('submit', function(e) {
                e.preventDefault();
                if (text.value) {
                socket.emit('text', {msg: text.value});
                text.value = '';
                }
            });
            socket.on('message', function(data) {
                var item = document.createElement('li');
                var img = document.createElement('img');

                img.src = data['user'][0][1];
                chat.appendChild(img);

                item.textContent = data['user'][0][0] + ':' + data['msg'];
                chat.appendChild(item);
                $('#chat').scrollTop($('#chat')[0].scrollHeight);
            });
        });
        function leave_room() {
            socket.emit('left', {}, function() {
                socket.disconnect();
                // go back to the login page
                window.location.href = "{{ url_for('main') }}";
            });
        }
    </script>
</head>

<body>
    <p><a href="top">戻る</a></p>
    <div class="flex">
        <p>グループ</p>
        {% for i in group_list %}
            <form action="/talk" method="POST">  
                <input readonly id ="group_id" type ="hidden" name ="group_id" value="{{ i[0] }}">
                <input type="submit" name="group_talk" value="{{ i[1] }}">
            </form>
        {% endfor %}
        <div>
            <h2>ルーム : {{session['room_id']}}</h2>
            <h2>ログインユーザー : {{session['user_id']}}</h2>
            <ul id="chat">
                <li>あああ</li>
            </ul>
            <form id="form" action="">
                <input type="text" id="text" size="60" placeholder="メッセージを入力してください" />
                <button>send</button>
            </form>
        </div>
        <div>
            <p>友達</p>
            {% for i in follow_id_list %} 
                <form action="/talk" method="POST">  
                    <input readonly id ="friend_id" type ="hidden" name ="friend_id" value="{{ i[0] }}">
                    <input type="submit" name="friend_talk" value="{{ i[1] }}">
                </form>
            {% endfor %}

        </div>
    </div>

</html>