<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/trial.css" />
    <!--    ↑　追加した-->
    <link rel ="stylesheet" href ="../static/top.css">
    <title>Docker Test{% block title %} {% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src ="../static/main.js"></script>
</head>

<!--------------------------------------------------------------------------------------->

<div>
    <div class="modal__">
    <button id="modalOpen" class="aaa">グループ作成</button>

　　 <div id="easyModal" class="modal">

　　　　<div class="modal-content">

　　　　　　<div class="modal-header">
　　　　　　　　<h1>グループ作成</h1>
　　　　　　　　<span class="modalClose">×</span>
　　　　　　</div>

　　　　　　<div class="modal-body">
　　　　　　　　<form action='/top' method='POST'>
                <input type="text" name="group_name" placeholder="グループネームを入力">
                    <p></p>
                  {% for i in Mutual_friends %}
                    <label for="check_box">
                    <input type="checkbox" id="check_box"
                           name='member' value="{{i[0][2]}}">
                    <img src ="{{ i[0][0] }}" class ="is-circle">
                    {{ i[0][1] }}
                    </label>
                    <p></p>
                  {% endfor %}
                <input type="submit" name="create_group" value="グループ作成">
              </form>
    　　　　</div>
　　　　　　</div>

　　　　</div>
　　</div>
<!--　　<script src="../static/trial.js"></script>-->

<!--------------------------------------------------------------------------------------->

<div class="modal__">
    <button id="modalOpen_" >通知</button>

　　<div id="easyModal_" class="modal_">

　　　　<div class="modal-content_">

　　　　　　<div class="modal-header_">
　　　　　　　　<h1>通知</h1>
　　　　　　　　<span class="modalClose_">×</span>
　　　　　　</div>

　　　　　　<div class="modal-body_">
             <div class="follows">
　　　　　　　　<form action='/top' method='POST'>
                  {% for i in followed_info %}
                    <label>
                    <img src ="{{ i[0][0] }}" class ="is-circle">
                    {{ i[0][1] }}
                    <input type="hidden" name="follow" value="{{i[0][2]}}">
                    <button type="submit">フォローする</button>
                    </label>
                    <p></p>
                  {% endfor %}
              </form>
             </div>

         <div class="groups">
             <form action='/top' method='POST'>
             {% for i in group_list %}
             <label>
                 <img src ="{{ i[0][1] }}" class ="is-circle">
                 {{i[0][0]}}
             </label>
             <input type="hidden" name="join_group" value="{{i[0][2]}}">
             <button type="submit">グループ参加</button>
             <p></p>
             {% endfor %}
             </form>
         </div>

    　　　　</div>
　　　　　　</div>
　　　　</div>
　　</div>
<script src="../static/trial.js"></script>
</div>


<!--------------------------------------------------------------------------------------->


<body>
    <h1>Your mutual follow friends</h1>
    <p>あなたのID</p>
    {{user_id}}
    <p>あなたの相互フォローのID</p>
    {{Mutuals}}
    <div>
        <form action="/top" method="POST">
            <input type="hidden" readonly id="my_id" name="my_id" value="{{ user_id }}">
            <input type="submit" name="myprofile" value="マイプロフを表示する">
        </form>
    </div>
    {% for friend in Mutual_friends %}
        <div class="friends">
            <img src ="{{ friend[0][0] }}" class ="is-circle">
            <p>{{ friend[0][1] }}</p>

            <form action="/top" method="POST">
                <input readonly id ="friend_id" type ="hidden" name ="friend_id" value="{{ friend[0][2] }}">
                <input type="submit" name="profile" value="プロフを表示する">       
            </form>
            <form action="/top" method="POST">
                <input readonly id ="talk_id" type ="hidden" name ="talk_id" value="{{ friend[0][2] }}">
                <input type="submit" name="talk" value="トークルームに行く">          
            </form>
        </div>
    {% endfor %}
    
    <form id="form">
        <div class="search-method">
            <div class="search-game">

                <select id ="game_name">
                    <option id = "default_name" disabled selected>ゲームを選択してください</option>
                    {% for i in game_names %}
                    <option>{{ i[0] }}</option>
                    {% endfor %}
                </select>
                <select id ="game_level">
                    <option id = "default_level" disabled selected>レベルを選択してください</option>
                    {% for i in range(1,4) %}
                    <option>{{ i }}</option>
                    {% endfor %}
                </select>
                <p>or</p>
            </div>
                <input id ="nickname_search" type ="text" name ="nickname_search" placeholder="search nickname">
        </div>
        <button id="submit" type="submit" class="button is-link">search</button>
        <!-- <input id="async-search" type="submit" value="search"> -->
    </form>

    <div id="search_result"></div>
    
    <script>
    function setNonSelect(idname){
    // 未選択状態にする
    var obj = document.getElementById(idname);
    obj.selectedIndex = 0;
    }

    $(document).ready(function() {
    //   ①formのsubmitボタンをクリック
      $('#form').on('submit',function(event){
        
　　　　　//②Ajax通信
        $.ajax({
          data : {
　　　　　　　//③form内inputの値、リクエスト(POST or GET),リクエスト先のURLを記述
            game_name : $('#game_name').val(),
            game_level : $('#game_level').val(),
            nickname : $('#nickname_search').val()
          },
          type : 'POST',
          url : '/asyncdata'
        })

　　　　　//④formの下に結果を表示
        .done(function(data){
          $('#search_result').html(data);
          setNonSelect('game_name');
          setNonSelect('game_level');
        });
        event.preventDefault();
      });
    });
    </script>
</body>
</html>