<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href ="../static/top.css">
    <title>Main</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<!--------------------------------------------------------------------------------------->

<body>
    <header>
        <h1 class="header-title">
            ゲームでマッチング！！
        </h1>
        <nav class="header-nav">

            <ul>

                <li>
                    <button class="header-nav">
                        <form action="/top" method="POST">
                            <input type="hidden" readonly id="my_id" name="my_id" value="{{ user_id }}">
                            <input type="submit" name="myprofile" class="myprof" value="マイプロフを表示する">
                        </form>
                    </button>
                </li>
                <li><button id="modalOpen_" class="header-nav" ><a>通知</a></button></li>
                <li><button class="header-nav"><a href="/logout">Logout</a></button></li>

            </ul>

        </nav>
    </header>

    <div class="modal__">

        <div id="easyModal_" class="modal_">

            <div class="modal-content_">

                <div class="modal-header_">
                    <h1>通知</h1>
                    <span class="modalClose_">×</span>
                </div>

                <div class="modal-body_">
                    <div class="invite">

                        {% for i in followed_info %}
                        <form action='/top' method='POST'>
                            <div class="information">
                                <div class="label_information">
                                    <img src ="{{ i[0][0] }}" class ="is-circle">
                                    {{ i[0][1] }}
                                    <input type="hidden" name="follow" value="{{i[0][2]}}">
                                    <button type="submit">フォローする</button>
                                </div>
                                <p></p>
                            </div>
                        </form>
                        {% endfor %}

                    </div>

                    <div class="invite">

                        {% for i in group_list %}
                        <form action='/top' method='POST'>
                            <div class="information">
                                <div class="label_information">
                                    <img src ="{{ i[0][1] }}" class ="is-circle">
                                    {{i[0][0]}}
                                    <input type="hidden" name="join_group" value="{{i[0][2]}}">
                                    <button type="submit">グループ参加</button>
                                </div>
                                <p></p>
                            </div>
                        </form>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
　　</div>


    <div class="modal__">

        <div id="easyModal" class="modal">

            <div class="modal-content">

                <div class="modal-header_">
                    <h1>グループ作成</h1>
                    <span class="modalClose">×</span>
    　　　　　　 </div>

                <div class="modal-body">
                    <form action='/top' method='POST'>

                        <div class="group_make">

                            <input id="group_input" type="text" name="group_name" placeholder="グループネームを入力">

                            <div class="scroll-invite">

                                {% for i in Mutual_friends %}
                                <div class="invite">

                                    <label for="check_box">
                                        <input type="checkbox" id="check_box"
                                            name='member' value="{{i[0][2]}}">
                                        <img src ="{{ i[0][0] }}" class ="is-circle">
                                        <p>{{ i[0][1] }}</p>
                                    </label>

                                </div>
                                {% endfor %}

                            </div>

                            <input onClick=buttonClick() type="submit" name="create_group" value="グループ作成">

                        </div>
                    </form>
                </div>
　　        </div>
        </div>
    </div>
<!--------------------------------------------------------------------------------------->
    <div class="body-flex">

        <div class="group_and_friend">

            <button id="modalOpen" class="aaa">グループ作成</button>

            <div id="group-box" class="friend-list">
                {% for i in group_list_join %}
                <div class="groups">

                    <img src="{{ i[1] }}" class="friend_img">
                    <p>{{ i[0] }}</p>
                    <div class="group_link">
                        <form action="/group_pre" method="POST" class="group_link_content">
                            <input readonly id ="group_id" type="hidden" name="edit" value="{{ i[2] }}">
                            <input readonly id ="group_id_submit" type="submit" name="edit-group" value="編集する">
                            <input readonly type="submit" name="to_group_talk" value="トークルームに行く">
                        </form>
                    </div>

                </div>
                {% endfor %}
            </div>

            <div id="friend-box" class="friend_list">
                {% for friend in Mutual_friends %}
                <div class="friends">

                    <img src ="{{ friend[0][0] }}" class ="friend_img">
                    <p>{{ friend[0][1] }}</p>
                    <div class="link">

                        <form action="/top" method="POST" class="group_link_content">
                            <input readonly id ="friend_id" type ="hidden" name ="friend_id" value="{{ friend[0][2] }}">
                            <input class="input_css" type="submit" name="profile" value="プロフを表示する">
                        </form>
                        <form action="/top" method="POST">
                            <input readonly id ="talk_id" type ="hidden" name ="talk_id" value="{{ friend[0][2] }}">
                            <input class="input_css" type="submit" name="to_friend_talk" value="トークルームに行く">
                        </form>

                    </div>

                </div>
                {% endfor %}

            </div>
        </div>


        <div class="search">
            <form id="form">
                <div class="search-method">
                    <div class="search-game">

                        <select id ="game_name">
                            <option id = "default_name" disabled selected>ゲームを選択してください</option>
                            {% for i in game_names %}
                            <option>{{ i[0] }}</option>
                            {% endfor %}
                        </select>
                        <select id ="game_level">
                            <option id = "default_level" disabled selected>レベルを選択してください</option>
                            {% for i in range(1,4) %}
                            <option>{{ i }}</option>
                            {% endfor %}
                        </select>

                    </div>
                    <p>or</p>

                    <input id ="nickname_search" type ="text" name ="nickname_search" placeholder="search nickname">
                    <input id="async-search" type="submit" value="search">
                </div>
                <!-- <button id="submit" type="submit" class="button is-link">search</button> -->

            </form>

            <div id="search_result"></div>
        </div>

    </div>



    <script src ="../static/trial.js"></script>


    <script>

    $(document).ready(function() {

        $.ajax({
          type : 'GET',
          url : '/asyncdata'
        })
        .done(function(data){
            $('#search_result').html(data);
        })

      //   ①formのsubmitボタンをクリック
      $('#form').on('submit',function(event){
　　　　　//②Ajax通信
        $.ajax({
          data : {
　　　　　　　//③form内inputの値、リクエスト(POST or GET),リクエスト先のURLを記述
            game_name : $('#game_name').val(),
            game_level : $('#game_level').val(),
            nickname : $('#nickname_search').val()
          },
          type : 'POST',
          url : '/asyncdata'
        })

　　　　　//④formの下に結果を表示
        .done(function(data){
          $('#search_result').html(data);
          setNonSelect('game_name');
          setNonSelect('game_level');
        });
        event.preventDefault();
      });
    });
    
    const textbox = document.getElementById('group_input');
    function buttonClick() {
        if (textbox.value.length > 20) {
            alert('現在' + textbox.value.length + '文字で入力しています。20文字以下で入力してください。');
        }
    }
    </script>

</body>
</html>
